<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395772277150-psrs7aq21gek2pk8vaos9jde71ufk68c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395772277150-psrs7aq21gek2pk8vaos9jde71ufk68c</string>
	<key>API_KEY</key>
	<string>AIzaSyCgztLd87zwS7pk7tvugoV7GBHWAuHf2Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>395772277150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hintMe</string>
	<key>PROJECT_ID</key>
	<string>hintme-2ac06</string>
	<key>STORAGE_BUCKET</key>
	<string>hintme-2ac06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395772277150:ios:61b61097665e8c692b268f</string>
</dict>
</plist>